#loginContainer{
    margin-top:20vh;
    max-width: 400px !important;
    min-height: 420px;
    margin-left: calc(100vw - 600px);
    border: 1px solid #CCC;
    border-radius:15px;
    padding: 30px 80px;
    background-color: #FFF;
}

#loginLogoContainer{
    margin: 60px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #00DEEE;
}

#loginErrMsg{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #F44336;
    padding: 5px 0px;
}

.inputError{
    border: 1px solid #F44336;
}

body{
    background-image: url("./../Resources/clinicadental.jpg");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
}